.button {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0199d9;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    margin-bottom: 10px;
}

.button:hover {
    border: 1px solid #007cad;
    background: rgba(0,142,198,1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active {
    border: 1px solid #018dc4;
    background: #00a6e8;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    text-shadow: none;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}


.pt0 {
    padding-top:0px;
}
.pt5 {
    padding-top:5px;
}
.pt10 {
    padding-top:10px;
}
.pt15 {
    padding-top:15px;
}
.pt20 {
    padding-top:20px;
}
.pt25 {
    padding-top:25px;
}
.pt30 {
    padding-top:30px;
}
.pt35 {
    padding-top:35px;
}
.pt40 {
    padding-top:40px;
}
.pt45 {
    padding-top:45px;
}
.pt50 {
    padding-top:50px;
}

.pl0 {
    padding-left:0px;
}
.pl5 {
    padding-left:5px;
}
.pl10 {
    padding-left:10px;
}
.pl15 {
    padding-left:15px;
}
.pl20 {
    padding-left:20px;
}
.pl25 {
    padding-left:25px;
}
.pl30 {
    padding-left:30px;
}
.pl35 {
    padding-left:35px;
}
.pl40 {
    padding-left:40px;
}
.pl45 {
    padding-left:45px;
}
.pl50 {
    padding-left:50px;
}


.pr0 {
    padding-right:0px;
}
.pr5 {
    padding-right:5px;
}
.pr10 {
    padding-right:10px;
}
.pr15 {
    padding-right:15px;
}
.pr20 {
    padding-right:20px;
}
.pr25 {
    padding-right:25px;
}
.pr30 {
    padding-right:30px;
}
.pr35 {
    padding-right:35px;
}
.pr40 {
    padding-right:40px;
}
.pr45 {
    padding-right:45px;
}
.pr50 {
    padding-right:50px;
}

.pb0 {
    padding-bottom:0px;
}
.pb5 {
    padding-bottom:5px;
}
.pb10 {
    padding-bottom:10px;
}
.pb15 {
    padding-bottom:15px;
}
.pb20 {
    padding-bottom:20px;
}
.pb25 {
    padding-bottom:25px;
}
.pb30 {
    padding-bottom:30px;
}
.pb35 {
    padding-bottom:35px;
}
.pb40 {
    padding-bottom:40px;
}
.pb45 {
    padding-bottom:45px;
}
.pb50 {
    padding-bottom:50px;
}